*.cache-main
SparkScalaPractice/.settings/org.eclipse.jdt.core.prefs
*.class
*.prefs
kafka-examples/src/test/java/com/dk/DKparser/AppTest.java
spark_examples/target/classes/employee_historical.csv
spark_examples/target/classes/employee_inc.csv